body {
	font-family: "Yu Mincho";
	background-image: url("main_pic1.jpg");
  	background-size: cover;
  	margin: 0;

}

.header {
	position: fixed;
	font-weight: bold;
	background-color: black;
	color: #46EEFF;
	width: 100vw;
	padding: 0px;
}

.header-logo {
	float: left;
	font-size: 45px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.header-list li {
	float: left;
	list-style: none;
	padding: 25px 30px;
}

.header-list {
	float: left;
	font-size: 22px;	
}

.main {
	color: white;
	font-size: 45px;
	font-weight: bold;
	height: 100vh;
	width: 100vw;
	padding-top: 150px;
	padding-left: 20px;
}

span.time {
	font-size: 80px;
	color: yellow;
	font-weight: bolder;
}

span.place {
	font-size: 75px;
	color: #FF97C2;
	font-weight: bold;
}

.footer {
	float: left;
	color: white;
	background-color: #000033;
	width: 100vw;
	padding: 0px;
}

.footer-logo {
	font-size: 20px;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.footer-list li{
	list-style: none;
	padding-top: 5px;
}
.footer-list {
	float: right;
	font-size: 18px;
	padding-right: 40px;
}
