title{
  color: white;
}

.self{
  color: skyblue;
}

#Nakai{
  color: red;
}
#Taguchi{
  color: green;
}

.novel{
  font-style: italic;
  color: gold;
}

.snack{
  background-color: brown;
}

.basictgc{
  font-color:yellow;
}
