title{
  color: white;
}

.self{
  color: skyblue;
}

#nakai{
  color: red;
}

.novel{
  font-style: italic;
  color: gold;
}

.snack{
  background-color: brown;
}

#JT{
	color: blue;
}

li{
	list-style: none;
}

.artist{
	color: purple;
}